body {
	background-color:#FF9999;
}

h1 {
	color : #FF0000;
	text-align : center;
	text-decoration : underline;
}

h2 {
	color : #0000FF;
	text-align : center;
	font-size : 120% ;
}
	
p {
	font-style : italic;
}

#l1 {
	color : #FF1a1a;
	font-style : italic;
}

.l2 {
	color : #CC0000;
	font-style : italic;
	text-decoration : underline;
}